/* Button General */
header {
    background-color: darkcyan;
    color: #eee;
    padding: 24px;
    margin-bottom: 16px;
    text-align: center;
}

header>h1{
    margin: 0;
}

.btn {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    font-size: 16px;
}
.btn:before {
    content: '';
    background-color: lightgrey;
    display: inline-block;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 70%;
    top: 0;
    left: 0;
    transform: skewX(-25deg) translateX(-10%);
    z-index: 0;
    transition: width 0.2s ease-out, transform 0.2s ease-out, background-color 0.2s ease-out;
}
.btn:hover:before {
    width: 100%;
    transform: skewX(0deg);
}
/* Button Title */
.btn-title {
    position: relative;
    z-index: 2;
}

/* Button Primary */
.btn-primary {
    background-color: #ff9005;
    color: #eee;
}
.btn-primary:before {
    background-color: rgba(255, 255, 255, 0.15);
}
.btn-primary:hover {
    color: #ff9005;
}
.btn-primary:hover:before {
    background-color: rgba(255, 255, 255, 0.9);
}

/* Button Secondary */
.btn-secondary {
 background-color: #c0c0c0;
 color: #fff;
}
.btn-secondary:before {
 background-color: rgba(255, 255, 255, 0.15);
}
.btn-secondary:hover {
 color: #c0c0c0;
}
.btn-secondary:hover:before {
 background-color: rgba(255, 255, 255, 0.9);
}

/* Footer */
footer {
    background-color: #333;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;

    font-family: Arial, Helvetica, sans-serif;
    color: #bbbbbb;
}

footer a {
    color: #c0c0c0;
    text-decoration: none;
    font-weight: bold;
}